{% extends 'base.html' %}
{% load static %}
{% load font_awesome %}
{% block title %}{% endblock %}
{% block main %}
    <div>
        <!--Boas vindas    -->
        <div class="jumbotron" style="margin: 10px; padding: 10px;">
          <h1 class="display-4" style="padding: 5px;"><strong>@DashCase</strong></h1>
          <p class="lead">Plataforma Online de Informação Gerencial - Dashboards e Relatórios</p>
          <hr>
          <p>Cada dia que seu negócio cresce você se vê na difícil missão de organizar as informações para melhor
             <strong>tomada de decisão.</strong> Por isso, resolvemos reunir num só lugar de maneira rápida e prática tudo o que precisa
             para saber como anda a sua empresa. <strong>@DashCase</strong> reúne alguns templates e modelos de relatórios com alto impacto
             de informação agrupados e condensados para uma melhor visualização de todo os seus dados. Nos preocupamos em fornecer
             a lógica necessária ao reunir as informações seguindo os padrões e regras de cada área de negócio: <strong>Vendas, Compras, Financeiro,
             Logística</strong> e muito mais. Confira abaixo nossos modelos:</p>
        </div>

        <!--Áreas de Negócio-->
        <div class="jumbotron" style="margin: 10px; padding: 13px; background-color: white;">
          <div class="row" style="align-items: center; justify-content: center; width: 100vw;">
            <div class="col-sm">
              <div class="card" style="width: 14rem;">
                  <img class="card-img-top" src="{% static 'img/vendas.png' %}" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Padrões de relatório gerencial de vendas.</p>
                  </div>
                  <a href="{% url 'vendas' %}" type="button" class="btn btn-secondary" role="button">Vendas</a>
              </div>
            </div>
            <div class="col-sm">
              <div class="card" style="width: 14rem;">
                  <img class="card-img-top" src="{% static 'img/compras.jpg' %}" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Padrões de relatório gerencial de compras.</p>
                  </div>
                  <a href="{% url 'compras' %}" type="button" class="btn btn-secondary" role="button">Compras</a>
              </div>
            </div>
            <div class="col-sm">
              <div class="card" style="width: 14rem;">
                  <img class="card-img-top" src="{% static 'img/financeiro.png' %}" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Padrões de relatório gerencial financeiro.</p>
                  </div>
                  <a href="{% url 'financeiro' %}" type="button" class="btn btn-secondary" role="button">Financeiro</a>
              </div>
            </div>
            <div class="col-sm">
              <div class="card" style="width: 14rem;">
                  <img class="card-img-top" src="{% static 'img/logistica.png' %}" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Padrões de relatório gerencial de logística.</p>
                  </div>
                  <a href="{% url 'logistica' %}" type="button" class="btn btn-secondary" role="button">Logística</a>
              </div>
            </div>
            <div class="col-sm">
              <div class="card" style="width: 14rem;">
                  <img class="card-img-top" src="{% static 'img/outros.png' %}" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Padrões de relatório demais áreas de negócio.</p>
                  </div>
                  <a href="{% url 'outras_areas' %}" type="button" class="btn btn-secondary" role="button">Outras Àreas</a>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}