{% extends 'base.html' %}
{% load static %}
{% load font_awesome %}
{% block title %}{% endblock %}
{% block main %}
  <!--<nav class="navbar navbar-light bg-light">-->
    <!--<a class="navbar-brand" href="#">-->
      <!--<img style="border-radius: 8px;" src="{% static 'img/v-venda.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">-->
      <!--<strong style="color: #5a6268">Vendas</strong>-->
    <!--</a>-->
  <!--</nav>-->

  <div class="container-fluid home">
    <div class="row">
          <!--<div class="col">-->
            <!--<div class="card" style="width: 20rem; border-style: solid; border-width: 5px;">-->
                <!--<img class="card-img-top" src="{% static 'img/analise_vendas_d.png' %}" alt="Análise de Vendas - Dashboard" data-toggle="modal" data-target="#myModal">-->
                <!--<a href="{% url 'analise_vendas_d' %}" type="button" class="btn btn-secondary" role="button">Dashboard</a>-->
            <!--</div>-->
          <!--</div>-->
          <div class="col">
            <div class="card" style="width: 15rem; border-style: solid; border-width: 5px;">
                <img class="card-img-top" src="{% static 'img/analise_vendas.png' %}" alt="Análise de Vendas - Relatório" data-toggle="modal" data-target="#myModal">
                <a href="{% url 'analise_vendas' %}" type="button" class="btn btn-secondary" role="button">Análise de Vendas</a>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15rem; border-style: solid; border-width: 5px;">
                <img class="card-img-top" src="{% static 'img/analise_vendas.png' %}" alt="Análise de Vendas - Relatório" data-toggle="modal" data-target="#myModal">
                <a href="{% url 'analise_vendas' %}" type="button" class="btn btn-secondary" role="button">Análise de Vendas</a>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15rem; border-style: solid; border-width: 5px;">
                <img class="card-img-top" src="{% static 'img/analise_vendas.png' %}" alt="Análise de Vendas - Relatório" data-toggle="modal" data-target="#myModal">
                <a href="{% url 'analise_vendas' %}" type="button" class="btn btn-secondary" role="button">Análise de Vendas</a>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15rem; border-style: solid; border-width: 5px;">
                <img class="card-img-top" src="{% static 'img/analise_vendas.png' %}" alt="Análise de Vendas - Relatório" data-toggle="modal" data-target="#myModal">
                <a href="{% url 'analise_vendas' %}" type="button" class="btn btn-secondary" role="button">Análise de Vendas</a>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15rem; border-style: solid; border-width: 5px;">
                <img class="card-img-top" src="{% static 'img/analise_vendas.png' %}" alt="Análise de Vendas - Relatório" data-toggle="modal" data-target="#myModal">
                <a href="{% url 'analise_vendas' %}" type="button" class="btn btn-secondary" role="button">Análise de Vendas</a>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15rem; border-style: solid; border-width: 5px;">
                <img class="card-img-top" src="{% static 'img/analise_vendas.png' %}" alt="Análise de Vendas - Relatório" data-toggle="modal" data-target="#myModal">
                <a href="{% url 'analise_vendas' %}" type="button" class="btn btn-secondary" role="button">Análise de Vendas</a>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15rem; border-style: solid; border-width: 5px;">
                <img class="card-img-top" src="{% static 'img/analise_vendas.png' %}" alt="Análise de Vendas - Relatório" data-toggle="modal" data-target="#myModal">
                <a href="{% url 'analise_vendas' %}" type="button" class="btn btn-secondary" role="button">Análise de Vendas</a>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15rem; border-style: solid; border-width: 5px;">
                <img class="card-img-top" src="{% static 'img/analise_vendas.png' %}" alt="Análise de Vendas - Relatório" data-toggle="modal" data-target="#myModal">
                <a href="{% url 'analise_vendas' %}" type="button" class="btn btn-secondary" role="button">Análise de Vendas</a>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15rem; border-style: solid; border-width: 5px;">
                <img class="card-img-top" src="{% static 'img/analise_vendas.png' %}" alt="Análise de Vendas - Relatório" data-toggle="modal" data-target="#myModal">
                <a href="{% url 'analise_vendas' %}" type="button" class="btn btn-secondary" role="button">Análise de Vendas</a>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15rem; border-style: solid; border-width: 5px;">
                <img class="card-img-top" src="{% static 'img/analise_vendas.png' %}" alt="Análise de Vendas - Relatório" data-toggle="modal" data-target="#myModal">
                <a href="{% url 'analise_vendas' %}" type="button" class="btn btn-secondary" role="button">Análise de Vendas</a>
            </div>
          </div>
    </div>
  </div>


  <!--<div class="modal" id="myModal">-->
    <!--<div class="modal-dialog modal-lg">-->
      <!--<div class="modal-content cards-modal">-->

        <!--&lt;!&ndash;&lt;!&ndash; Modal Header &ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="modal-header">&ndash;&gt;-->
          <!--&lt;!&ndash;<h4 class="modal-title">Análise Vendas</h4>&ndash;&gt;-->
          <!--&lt;!&ndash;<button type="button" class="close" data-dismiss="modal">&times;</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--&lt;!&ndash; Modal body &ndash;&gt;-->
        <!--<div class="modal-body">-->

          <!--<div class="row">-->
              <!--<div class="col">-->
                <!--<div class="card" style="width: 20rem; border-style: solid; border-width: 5px;">-->
                    <!--<img class="card-img-top" src="{% static 'img/analise_vendas_d.png' %}" alt="Análise de Vendas - Dashboard" data-toggle="modal" data-target="#myModal">-->
                    <!--<a href="{% url 'analise_vendas_d' %}" type="button" class="btn btn-secondary" role="button">Dashboard</a>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col">-->
                <!--<div class="card" style="width: 20rem; border-style: solid; border-width: 5px;">-->
                    <!--<img class="card-img-top" src="{% static 'img/analise_vendas.png' %}" alt="Análise de Vendas - Relatório" data-toggle="modal" data-target="#myModal">-->
                    <!--<a href="{% url 'analise_vendas' %}" type="button" class="btn btn-secondary" role="button">Relatório</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->


        <!--</div>-->

      <!--</div>-->
    <!--</div>-->
  <!--</div>-->


  <!--<div class="container-fluid cards-apresentacao">-->
    <!--<div class="row">-->
      <!--<div class="col-sm">-->
        <!--<div class="card" style="width: 30rem; border-style: solid; border-width: 5px;">-->
            <!--<img class="card-img-top" src="{% static 'img/analise_vendas_d.png' %}" alt="Análise de Vendas - Dashboard" data-toggle="modal" data-target="#myModal">-->
            <!--<a href="{% url 'analise_vendas' %}" type="button" class="btn btn-secondary" role="button">Dashboards</a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-sm">-->
        <!--<div class="card" style="width: 30rem; border-style: solid; border-width: 5px;">-->
            <!--<img class="card-img-top" src="{% static 'img/analise_vendas.png' %}" alt="Análise de Vendas - Relatório" data-toggle="modal" data-target="#myModal">-->
            <!--<a href="{% url 'analise_vendas' %}" type="button" class="btn btn-secondary" role="button">Relatório</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
{% endblock %}

